/* ---- reset ---- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
/* @font-face {
  font-family: "Star Jedi V2";
  src: url("./fonts/StarJediV2.woff2") format('woff2'),
        url("./fonts/StarJediV2.ttf") format('ttf') 
}  */


/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}
/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Variables for colors */
 :root {
  --dark-blue: #122b40;
  --light-blue: #719ece;
  --dark-grey: rgb(110 107 107);
  --red: #d74c4c;
  --white: #fff;
} 

/* Set core body defaults */
body {
  font: 200 16px/1.5 "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

p {
  margin-bottom: 15px;
}

a {
	text-decoration: none;
}

canvas {
  background-color: var(--dark-blue);
  display: none; 
}

.leader-board {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background: rgb(37,96,152);
  background: linear-gradient(0deg, rgba(37,96,152,1) 0%, rgba(18,43,64,1) 100%);-gradient: linear-gradient(0deg, rgba(37,96,152,1) 0%, rgba(18,43,64,1) 100%);
  font-family: "Jura", sans-serif;
}

.leader-board h2 {
  font-size: 1.3rem;
  color: var(--white);
}

.leader-board > * {
  text-align: center;
  width: 33%;
}

.leader-board h3 {
  color: #abe1df;
  font-weight: bold;
  
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 1rem 0;
  font-family: "Jura", sans-serif;
}
.leader-board .timer {
  color: #73f5f0;
}

.leader-board .score {
  color: #f7e22f;
}

.leader-board .player {
  color: rgb(223, 152, 59);
}

.wrapper-gain-score {
  display: flex;
  justify-content: center;
}

.wrapper-gain-score img {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
  position: relative;
  top: 15%;
  left: 20%;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateX(00deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

/* .hidden {
  display: none;
} */

.container {
  display: flex;
  justify-content: center;
  background-image: url("./images/background-small.png");
  background-color: var(--dark-blue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: var(--white);
  /* text-shadow: 3px 2px hsl(0, 2%, 51%); */
  text-shadow: 3px 2px hsl(197deg 25% 35%);
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Wallpoet", cursive;
  /* font-family:"Star Jedi V2" !important; */
  padding: 0 2rem;
  text-align: center;
}

.section-start h2 {
  margin-bottom: 50px;
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  padding: 1rem 0;
  font-family: "Jura", sans-serif;
  text-align: center;
}

.section-start {
  /* margin: 70px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game {
  border: 0;
  padding: 10px 40px;
  margin: 20px 0;
  border-radius: 5px;
  background: #e5be4a;
  color: white;
  font-size: 1.5rem;
  font-family: "Wallpoet", sans-serif;
  font-weight: 600;
}

.section-start input {
  border: 0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "Jura", sans-serif;
  text-align: center;
}

.section-start input:focus { 
  outline: none;
  border-color: var(--light-blue);
  box-shadow: 0px 0px 10px var(--light-blue);
}

.start-button {
  margin-top: 20px;
}


footer, footer a{
  color: rgb(221 226 229);
  text-align: center;
  font-size: .7rem;
}

.game-over {
  width: 70%;
  height: 50%;
  top: 20%;
  text-align: center;
  position: absolute;
  background-color: rgb(0, 161, 157, .8);
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid #cba32a
}

.game-over img{
  width: 60px;
}

.game-over h2 { 
  font-size: 1rem;
}

.final-score { 
  margin-top: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Jura", sans-serif;
  font-weight: 600;
}

.final-score span {
  color: #f7e22f;
  text-shadow: 0 1px 5px #424040
}

.restart {
  border: 0;
  width: 60%;
  align-self: center;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 5px;
  background: #e05d5d;
  color: white;
  font-size: 1.3rem;
  /* font-size: 2rem; ipad and more */
  font-family: "Wallpoet", sans-serif;
  font-weight: 600;
}


  
@media (min-width: 768px) {
  .wrapper-container {
    max-width: 728px;
    margin: 0 auto;
  }
  .wrapper-container h1 {
    font-size: 3.5rem;
  }
  .section-start input {
    font-size: 1.5rem;
  }
  .start-game {
    font-size: 2rem; 
  }
  .leader-board h2,
  .leader-board h3 {
    font-size: 2.5rem; 
  }
  .game-over {
    max-width: 500px;
  }
  .game-over img{
    width: 90px;
    margin-top: 40px;
  }
  .final-score {
    font-size: 3rem; 
  }
  .restart {
    margin: 40px 0; 
    font-size: 2rem;
  }
}


